.container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 1fr 7fr 1fr;
  height: 95vh;
  color: white;
  font-weight: bold;
  gap: 10px;
  text-align: center;
}

.container > * {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

nav {
  background-color: #fd7ac9;
  grid-column: 1/5;
}
aside {
  background-color: #fe027d;
}
.content-1 {
  background-color: #f54093;
}
.content-2 {
  background-color: #ed3caa;
}
.content-3 {
  background-color: #f53698;
}

footer {
  background-color: #c30094;
  grid-column: 1/5;
}
