nav {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8659a0;
  color: rgb(217, 217, 243);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  /* overflow: hidden; */
  padding: 10px;
  position: relative;
}

nav .logo span {
  font-size: 25px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 75px;
}
nav ul li {
  display: inline;
  padding: 19px 5px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
nav ul li:hover {
  background-color: rgb(124, 3, 238);
}
nav span {
  display: inline-block;
}

.profile {
  display: flex;
  align-items: center;
}
.profile-img {
  display: inline-block;
  overflow: hidden;
}
.profile-img img {
  display: inline-block;
  width: 20px;
  border-radius: 50%;
  margin: 0 10px;
}

nav .toggle-menu {
  color: white;
  font-size: 22px;
  margin-right: 20px;
  display: none;
  cursor: pointer;
}

ul.second {
  display: none;
}
@media (max-width: 767px) {
  nav ul.main {
    display: none;
  }

  .profile {
    display: none;
  }
  nav .toggle-menu {
    display: block;
  }
  ul.active {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: black;
    width: 100%;
    top: 48px;
    right: 0px;
    background-color: #e1cfeb;
  }
  ul.active li:hover {
    color: white;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
}
