.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas:
    "nav nav nav" "nav nav nav" "nav nav nav"
    "content1 content2 content3" "content1 content2 content3"
    "foot foot foot";
  gap: 10px;
  height: 95vh;
  color: white;
  font-weight: bold;
  text-align: center;
}

.main {
  background-color: #fc33a3;
  grid-area: nav;
}
.content-1,
.content-2,
.content-3 {
  background-color: #f54093;
}
.content-1 {
  grid-area: content1;
}
.content-2 {
  grid-area: content2;
}
.content-3 {
  grid-area: content3;
}

footer {
  background-color: #c20290;
  grid-area: foot;
}
